@model VelconLogistics.Models.Load

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Load</h4>
    <hr />
    <dl class="row">
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliverdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliverdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeliverd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeliverd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoadId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
