@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model IEnumerable<VelconLogistics.Models.Load>

@{
    ViewData["Title"] = "Index";
}

<h1>Load Status</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliverdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeliverd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var currentUserId = SignInManager.UserManager.GetUserId(User);
            @if (item.UserId == currentUserId)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PickupDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliverdDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeliverd)
                    </td>

                    <td>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.LoadId">Edit</a> 
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.LoadId">Details</a> 
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.LoadId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
